.blog-container {
  min-height: 100vh;
}

.top-title-blog-container {
  margin-left: 4em;
  margin-top: 3em;
}

.blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding-inline: 3em;
  padding-block: 1em;
  background-color: #F4F4F4;
}

.post-box {
  background: rgb(194, 221, 240);
  width: 12%;
  aspect-ratio : 1 / 1;
  padding: 2em;
  margin: 1em;
  border-radius: 40px;
  cursor: pointer;
}

.post-box:hover {
  background: rgb(196, 214, 227);
}

@media (max-width: 700px) {
  
  .top-title-blog-container {
    text-align: center;
    margin: 0;    
  }

  .blog-posts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .post-box {
    width: 80%;
    padding: 20px;
    margin: 10px;
  }
}