html {
  scroll-behavior: smooth;
}

.home-container {
  height: 100%;
}

/* TOP CONTAINER */
.intro-container {
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.middle-intro-container {
  justify-content: center;
  margin: auto;
  display: flex;
  width: 60%;
}

.right-container {
  margin-left: 3em;
}

.down-arrow {
  margin-inline: auto;
  bottom: 0!important;
}

.rest-of-content {
  background-color: #F4F4F4;
  margin-bottom: 2em;
}

/* PROFILES CONTAINER */
.profiles-container {
  display: flex;
  padding: 2em;
  padding-top: 5em;
  justify-content: space-evenly;
}

.profile-img {
  width: 300px;
  height: auto;
  border-radius: 150px;
}

/* QUALITIES CONTAINER */
.qualities-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

/* Responsive styling for mobile screens */
@media (max-width: 700px) {
  .home-container {
    padding: 10px;
  }

  .intro-container {
    align-items: center;
    text-align: center;
    max-height: 100dvh;
  }

  .middle-intro-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  } 

  .middle-intro-container img {
    max-width: 100%;
    height: auto;
  }

  .right-container {
    margin-left: 0;
    max-width: 100%;
  }

  .right-container h2 {
    font-size: 1rem;
  }

  .right-container h4 {
    font-size: 0.8rem;
  }

  .down-arrow a {
    width: 40px;
  }

  .profiles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .qualities-container {
    flex-direction: column;
    align-items: center;
  }

  .qualities-container .quality img {
    width: 60px;
    height: auto;
  }

  .profiles-container,
  .qualities-container {
    padding: 1em;
  }

  img {
    max-width: 100%!important;
    height: auto;
  }
}
