.services-container {
}

.signup-form-container {
  height: 90vh;
  justify-content: center;
  width: 100%;
  display: flex;
}

.form-holder {
  margin: 2em;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-subdiv {
  width: 100%;
}

.input-form {
  margin: 1.5em;
  padding-left: 15px;
  width: 70%;
  height: 50px;
  border: none;
  background-color: #dedede;
}

.textarea-form {
  margin: 1.5em;
  height: 100px;
  border: none;
  background-color: #dedede;
}



.our-services-list-container {
  display: flex;
  margin: 2em;
}

.service-offer {
  border-right: 1px solid #ccc;
  text-align: center;
  width: 33%;
}

.service-offer:last-child {
  border-right: none; 
}