.nav-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2em;
  padding-top: 1em;
}

.nav-links {
  margin-left: auto;
  display: flex;
}

.img-container {
  width: 50px;
  height: auto;
  margin-left: 1em;
}

.nav-item {
  padding: 1em;
  position: relative;
}

.nav-text, .selected-text {
  color: #0B117D !important;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px; 
}

.nav-text::after, .selected-text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #0B117D;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-text:hover::after, .selected-text:hover::after {
  width: 100%;
}

.selected-text {
  color: #4F90FF ! important;
  font-weight: bold;
}

.selected-text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #4F90FF;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}





.nav-root-mobile {
  width: 100%;
  height: 100dvh;
  background-color: lightgray;
  position: fixed;
  z-index: 99;
  padding-top: 2em;
  top: 0;
}

.nav-content-mobile {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
}

.nav-text-mobile {
  color: #0B117D !important;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  padding: 10px;
  font-size: 22pt;
}

.nav-text-mobile-selected {
  font-weight: bold;
  color: #4F90FF ! important;
  padding: 10px;
  font-size: 22pt;
}