.carousel-container {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding: 1em;
}

.carousel-content {
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;
  width: 90%;
}

.carousel-item {
  padding: 1em;
  margin: 1em;
  width: 25%;
  min-width: 25%;
  text-align: center;
  background-color: aliceblue;
  border-radius: 30px;
  transition: transform 0.5s ease;
}

.carousel-arrow:hover {
  cursor: pointer;
}
